#global-header {
  .header-wrapper{
    max-width: 1200px;
  }
  .username{
    float: right;
    color: #fff;
    font-size: 19px;
line-height: 30px;
font-weight: bold;
  }
  #logo {
    img {
      width: auto !important;
      position: relative;
      height: 34px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none;
      top: -6px;
    }
    &.content {
      font-size: 19px;
      line-height: 30px;
    }
  }
}
#wrapper {
  .inner-block {
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }
}
#global-header-bar{
    max-width: 1200px;
}
#footer .footer-wrapper{
  max-width: 1200px;
}
#content{
  max-width: 1200px;
}
.admin-ebf-search {
  input {
    width: 100%;
    border: 10px solid #eee;
    padding: 15px;
    font-size: 2em;
  }
}

.admin-ebf-search-results{
  margin-top: 50px;
}

.table-label{
  padding-top: 15px!important;
}

.table-field{
  font-weight: bold;
}

td.nowrap, th.nowrap{
  white-space: nowrap;
 }
