#global-header {
  #logo {
    img {
      width: auto !important;
      position: relative;
      height: 34px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none;
      top: -6px;
    }
    &.content {
      font-size: 19px;
      line-height: 30px;
    }
  }
}
#wrapper {
  .inner-block {
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }
}
